body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19702 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:840px;
}
#u19703 {
  position:absolute;
  left:2px;
  top:412px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:91px;
}
#u19704 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u19705 {
  position:absolute;
  left:2px;
  top:38px;
  width:146px;
  word-wrap:break-word;
}
#u19706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19706 {
  position:absolute;
  left:817px;
  top:22px;
  width:106px;
  height:15px;
}
#u19707 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u19708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u19708 {
  position:absolute;
  left:197px;
  top:18px;
  width:181px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u19709 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u19710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19710 {
  position:absolute;
  left:1008px;
  top:26px;
  width:39px;
  height:15px;
}
#u19711 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u19712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19712 {
  position:absolute;
  left:985px;
  top:25px;
  width:20px;
  height:20px;
}
#u19713 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19714 {
  position:absolute;
  left:0px;
  top:100px;
  width:190px;
  height:410px;
}
#u19715 {
  position:absolute;
  left:2px;
  top:197px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19716 {
  position:absolute;
  left:0px;
  top:100px;
  width:190px;
  height:40px;
  text-align:left;
}
#u19717 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u19718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u19718 {
  position:absolute;
  left:0px;
  top:139px;
  width:190px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u19719 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19720 {
  position:absolute;
  left:0px;
  top:219px;
  width:190px;
  height:40px;
  text-align:left;
}
#u19721 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u19722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19722 {
  position:absolute;
  left:0px;
  top:139px;
  width:190px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19723 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u19724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19724 {
  position:absolute;
  left:200px;
  top:137px;
  width:880px;
  height:670px;
}
#u19725 {
  position:absolute;
  left:2px;
  top:327px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19726 {
  position:absolute;
  left:220px;
  top:152px;
  width:172px;
  height:15px;
}
#u19727 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u19728 {
  position:absolute;
  left:198px;
  top:52px;
  width:470px;
  height:28px;
}
#u19728_input {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u19729 {
  position:absolute;
  left:678px;
  top:48px;
  width:113px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u19730 {
  position:absolute;
  left:2px;
  top:5px;
  width:109px;
  word-wrap:break-word;
}
#u19731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19731 {
  position:absolute;
  left:0px;
  top:179px;
  width:190px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19732 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u19733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19733 {
  position:absolute;
  left:0px;
  top:139px;
  width:190px;
  height:40px;
  text-align:left;
}
#u19734 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u19735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19735 {
  position:absolute;
  left:0px;
  top:179px;
  width:190px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19736 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u19737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19737 {
  position:absolute;
  left:0px;
  top:219px;
  width:190px;
  height:40px;
}
#u19738 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u19739 {
  position:absolute;
  left:504px;
  top:197px;
  width:116px;
  height:22px;
}
#u19739_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19739_input:disabled {
  color:grayText;
}
#u19740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19740 {
  position:absolute;
  left:428px;
  top:200px;
  width:65px;
  height:15px;
}
#u19741 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19742 {
  position:absolute;
  left:258px;
  top:200px;
  width:39px;
  height:15px;
}
#u19743 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u19744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19744 {
  position:absolute;
  left:324px;
  top:200px;
  width:94px;
  height:19px;
}
#u19745 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19746 {
  position:absolute;
  left:667px;
  top:200px;
  width:52px;
  height:15px;
}
#u19747 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u19748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19748 {
  position:absolute;
  left:740px;
  top:197px;
  width:70px;
  height:19px;
}
#u19749 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19750 {
  position:absolute;
  left:820px;
  top:200px;
  width:13px;
  height:15px;
}
#u19751 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u19752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19752 {
  position:absolute;
  left:843px;
  top:197px;
  width:77px;
  height:22px;
}
#u19753 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19754 {
  position:absolute;
  left:258px;
  top:254px;
  width:39px;
  height:15px;
}
#u19755 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u19756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19756 {
  position:absolute;
  left:320px;
  top:252px;
  width:70px;
  height:21px;
}
#u19757 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19758 {
  position:absolute;
  left:400px;
  top:254px;
  width:27px;
  height:15px;
}
#u19759 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19760 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19761 {
  position:absolute;
  left:200px;
  top:112px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u19762 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19763 {
  position:absolute;
  left:390px;
  top:112px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u19764 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19765 {
  position:absolute;
  left:490px;
  top:112px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u19766 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19767 {
  position:absolute;
  left:600px;
  top:112px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u19768 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19769 {
  position:absolute;
  left:703px;
  top:112px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u19770 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19771 {
  position:absolute;
  left:820px;
  top:112px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19772 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19773 {
  position:absolute;
  left:928px;
  top:112px;
  width:67px;
  height:22px;
  font-size:18px;
}
#u19774 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u19775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19775 {
  position:absolute;
  left:290px;
  top:112px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u19776 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19777 {
  position:absolute;
  left:930px;
  top:48px;
  width:170px;
  height:265px;
  overflow:hidden;
  visibility:hidden;
}
#u19777_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19777_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19778 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:265px;
}
#u19779 {
  position:absolute;
  left:2px;
  top:124px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:121px;
}
#u19780 {
  position:absolute;
  left:29px;
  top:10px;
  width:100px;
  height:120px;
}
#u19781 {
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19782 {
  position:absolute;
  left:10px;
  top:150px;
  width:78px;
  height:15px;
}
#u19783 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u19784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19784 {
  position:absolute;
  left:10px;
  top:176px;
  width:91px;
  height:15px;
}
#u19785 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u19786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19786 {
  position:absolute;
  left:10px;
  top:202px;
  width:103px;
  height:15px;
}
#u19787 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u19788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19788 {
  position:absolute;
  left:50px;
  top:228px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u19789 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19788_ann {
  position:absolute;
  left:108px;
  top:224px;
  width:1px;
  height:1px;
}
#u19790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u19790 {
  position:absolute;
  left:139px;
  top:10px;
  width:21px;
  height:20px;
}
#u19791 {
  position:absolute;
  left:2px;
  top:-5px;
  width:17px;
  word-wrap:break-word;
}
