body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:770px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:560px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11330 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:560px;
}
#u11331 {
  position:absolute;
  left:2px;
  top:272px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11332 {
  position:absolute;
  left:220px;
  top:140px;
  width:300px;
  height:240px;
}
#u11333 {
  position:absolute;
  left:2px;
  top:112px;
  width:296px;
  word-wrap:break-word;
}
#u11334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11334 {
  position:absolute;
  left:483px;
  top:160px;
  width:17px;
  height:29px;
}
#u11335 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
