body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:840px;
}
#u6912 {
  position:absolute;
  left:2px;
  top:412px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:91px;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u6914 {
  position:absolute;
  left:2px;
  top:38px;
  width:146px;
  word-wrap:break-word;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6915 {
  position:absolute;
  left:817px;
  top:22px;
  width:106px;
  height:15px;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u6917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6917 {
  position:absolute;
  left:207px;
  top:105px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u6918 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6919 {
  position:absolute;
  left:297px;
  top:105px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u6920 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6921 {
  position:absolute;
  left:607px;
  top:105px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u6922 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6923 {
  position:absolute;
  left:710px;
  top:105px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6925 {
  position:absolute;
  left:827px;
  top:105px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u6926 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6927 {
  position:absolute;
  left:935px;
  top:105px;
  width:67px;
  height:22px;
  font-size:18px;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u6929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6929 {
  position:absolute;
  left:197px;
  top:18px;
  width:181px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6930 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6931 {
  position:absolute;
  left:1008px;
  top:26px;
  width:39px;
  height:15px;
}
#u6932 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6933 {
  position:absolute;
  left:985px;
  top:25px;
  width:20px;
  height:20px;
}
#u6934 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6935 {
  position:absolute;
  left:0px;
  top:100px;
  width:190px;
  height:410px;
}
#u6936 {
  position:absolute;
  left:2px;
  top:197px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u6937 {
  position:absolute;
  left:0px;
  top:139px;
  width:190px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u6938 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u6939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6939 {
  position:absolute;
  left:0px;
  top:295px;
  width:190px;
  height:40px;
  text-align:left;
}
#u6940 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6941 {
  position:absolute;
  left:0px;
  top:100px;
  width:190px;
  height:40px;
  text-align:left;
}
#u6942 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u6943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6943 {
  position:absolute;
  left:0px;
  top:178px;
  width:190px;
  height:40px;
}
#u6944 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u6945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6945 {
  position:absolute;
  left:0px;
  top:217px;
  width:190px;
  height:40px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u6947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6947 {
  position:absolute;
  left:0px;
  top:256px;
  width:190px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6948 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u6949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6949 {
  position:absolute;
  left:190px;
  top:137px;
  width:880px;
  height:670px;
}
#u6950 {
  position:absolute;
  left:2px;
  top:327px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6951 {
  position:absolute;
  left:220px;
  top:152px;
  width:233px;
  height:15px;
}
#u6952 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u6953 {
  position:absolute;
  left:198px;
  top:52px;
  width:470px;
  height:28px;
}
#u6953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6954 {
  position:absolute;
  left:678px;
  top:48px;
  width:113px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u6955 {
  position:absolute;
  left:2px;
  top:5px;
  width:109px;
  word-wrap:break-word;
}
#u6956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6956 {
  position:absolute;
  left:0px;
  top:334px;
  width:190px;
  height:40px;
  text-align:left;
}
#u6957 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u6958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6958 {
  position:absolute;
  left:397px;
  top:105px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6959 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6960 {
  position:absolute;
  left:930px;
  top:48px;
  width:170px;
  height:265px;
  overflow:hidden;
  visibility:hidden;
}
#u6960_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6960_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6961 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:265px;
}
#u6962 {
  position:absolute;
  left:2px;
  top:124px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:121px;
}
#u6963 {
  position:absolute;
  left:29px;
  top:10px;
  width:100px;
  height:120px;
}
#u6964 {
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6965 {
  position:absolute;
  left:10px;
  top:150px;
  width:78px;
  height:15px;
}
#u6966 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u6967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6967 {
  position:absolute;
  left:10px;
  top:176px;
  width:91px;
  height:15px;
}
#u6968 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6969 {
  position:absolute;
  left:10px;
  top:202px;
  width:103px;
  height:15px;
}
#u6970 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6971 {
  position:absolute;
  left:50px;
  top:228px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6971_ann {
  position:absolute;
  left:108px;
  top:224px;
  width:1px;
  height:1px;
}
#u6973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u6973 {
  position:absolute;
  left:139px;
  top:10px;
  width:21px;
  height:20px;
}
#u6974 {
  position:absolute;
  left:2px;
  top:-5px;
  width:17px;
  word-wrap:break-word;
}
#u6975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u6975 {
  position:absolute;
  left:1008px;
  top:227px;
  width:31px;
  height:25px;
}
#u6976 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  word-wrap:break-word;
}
#u6977 {
  position:absolute;
  left:909px;
  top:227px;
  width:100px;
  height:25px;
}
#u6977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:419px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6978 {
  position:absolute;
  left:220px;
  top:261px;
  width:820px;
  height:419px;
}
#u6979 {
  position:absolute;
  left:2px;
  top:202px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6980 {
  position:absolute;
  left:279px;
  top:276px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6981 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u6982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6982 {
  position:absolute;
  left:240px;
  top:369px;
  width:67px;
  height:15px;
}
#u6983 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u6984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6984 {
  position:absolute;
  left:906px;
  top:282px;
  width:102px;
  height:18px;
  font-size:14px;
}
#u6985 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u6986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6986 {
  position:absolute;
  left:382px;
  top:727px;
  width:60px;
  height:30px;
}
#u6987 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u6988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6988 {
  position:absolute;
  left:719px;
  top:727px;
  width:60px;
  height:30px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u6990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6990 {
  position:absolute;
  left:452px;
  top:727px;
  width:31px;
  height:30px;
}
#u6991 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u6992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6992 {
  position:absolute;
  left:493px;
  top:727px;
  width:31px;
  height:30px;
}
#u6993 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u6994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6994 {
  position:absolute;
  left:534px;
  top:727px;
  width:31px;
  height:30px;
}
#u6995 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u6996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6996 {
  position:absolute;
  left:599px;
  top:727px;
  width:31px;
  height:30px;
}
#u6997 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u6998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6998 {
  position:absolute;
  left:640px;
  top:727px;
  width:31px;
  height:30px;
}
#u6999 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u7000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7000 {
  position:absolute;
  left:681px;
  top:727px;
  width:31px;
  height:30px;
}
#u7001 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u7002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7002 {
  position:absolute;
  left:789px;
  top:727px;
  width:60px;
  height:30px;
}
#u7003 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u7004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7004 {
  position:absolute;
  left:312px;
  top:727px;
  width:60px;
  height:30px;
}
#u7005 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u7006 {
  position:absolute;
  left:859px;
  top:727px;
  width:71px;
  height:30px;
}
#u7006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7006_input:disabled {
  color:grayText;
}
#u7007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7007 {
  position:absolute;
  left:568px;
  top:732px;
  width:25px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:2px;
}
#u7009 {
  position:absolute;
  left:240px;
  top:398px;
  width:765px;
  height:1px;
}
#u7010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7011 {
  position:absolute;
  left:220px;
  top:231px;
  width:100px;
  height:16px;
}
#u7012 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7011_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u7013 {
  position:absolute;
  left:280px;
  top:231px;
  width:15px;
  height:16px;
}
#u7014 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7015 {
  position:absolute;
  left:301px;
  top:231px;
  width:27px;
  height:15px;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7017 {
  position:absolute;
  left:350px;
  top:231px;
  width:100px;
  height:16px;
}
#u7018 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7017_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7019 {
  position:absolute;
  left:240px;
  top:279px;
  width:30px;
  height:19px;
}
#u7020 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u7021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u7021 {
  position:absolute;
  left:279px;
  top:313px;
  width:681px;
  height:45px;
  line-height:22px;
}
#u7022 {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  word-wrap:break-word;
}
#u7023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7023 {
  position:absolute;
  left:919px;
  top:369px;
  width:41px;
  height:15px;
}
#u7024 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7025 {
  position:absolute;
  left:220px;
  top:186px;
  width:60px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7026 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u7027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7027 {
  position:absolute;
  left:301px;
  top:186px;
  width:60px;
  height:29px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u7029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7029 {
  position:absolute;
  left:382px;
  top:186px;
  width:60px;
  height:29px;
}
#u7030 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u7031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7031 {
  position:absolute;
  left:279px;
  top:413px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7032 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u7033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7033 {
  position:absolute;
  left:240px;
  top:506px;
  width:67px;
  height:15px;
}
#u7034 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7035 {
  position:absolute;
  left:906px;
  top:419px;
  width:102px;
  height:18px;
  font-size:14px;
}
#u7036 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u7037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:2px;
}
#u7037 {
  position:absolute;
  left:240px;
  top:535px;
  width:765px;
  height:1px;
}
#u7038 {
  position:absolute;
  left:2px;
  top:-8px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7039 {
  position:absolute;
  left:240px;
  top:416px;
  width:30px;
  height:19px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u7041 {
  position:absolute;
  left:279px;
  top:450px;
  width:681px;
  height:45px;
  line-height:22px;
}
#u7042 {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  word-wrap:break-word;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7043 {
  position:absolute;
  left:279px;
  top:550px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u7045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7045 {
  position:absolute;
  left:240px;
  top:643px;
  width:67px;
  height:15px;
}
#u7046 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u7047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7047 {
  position:absolute;
  left:906px;
  top:556px;
  width:102px;
  height:18px;
  font-size:14px;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u7049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u7049 {
  position:absolute;
  left:240px;
  top:553px;
  width:30px;
  height:19px;
}
#u7050 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u7051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u7051 {
  position:absolute;
  left:279px;
  top:587px;
  width:681px;
  height:45px;
  line-height:22px;
}
#u7052 {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  word-wrap:break-word;
}
#u7053 {
  position:absolute;
  left:224px;
  top:280px;
  width:100px;
  height:16px;
}
#u7054 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7053_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7055 {
  position:absolute;
  left:224px;
  top:418px;
  width:100px;
  height:16px;
}
#u7056 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7057 {
  position:absolute;
  left:224px;
  top:555px;
  width:100px;
  height:16px;
}
#u7058 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7057_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u7059 {
  position:absolute;
  left:808px;
  top:227px;
  width:31px;
  height:25px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  word-wrap:break-word;
}
#u7061 {
  position:absolute;
  left:661px;
  top:227px;
  width:73px;
  height:25px;
}
#u7061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7061_input:disabled {
  color:grayText;
}
#u7062 {
  position:absolute;
  left:586px;
  top:227px;
  width:73px;
  height:25px;
}
#u7062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7062_input:disabled {
  color:grayText;
}
#u7063 {
  position:absolute;
  left:511px;
  top:227px;
  width:73px;
  height:25px;
}
#u7063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7063_input:disabled {
  color:grayText;
}
#u7064 {
  position:absolute;
  left:736px;
  top:227px;
  width:73px;
  height:25px;
}
#u7064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7064_input:disabled {
  color:grayText;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u7065_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7065_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:840px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7066 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:840px;
  opacity:0.300000011920929;
}
#u7067 {
  position:absolute;
  left:2px;
  top:412px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:435px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7068 {
  position:absolute;
  left:232px;
  top:236px;
  width:636px;
  height:435px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:210px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7070 {
  position:absolute;
  left:279px;
  top:289px;
  width:185px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7071 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u7072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u7072 {
  position:absolute;
  left:279px;
  top:326px;
  width:535px;
  height:45px;
  line-height:22px;
}
#u7073 {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  word-wrap:break-word;
}
#u7074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7074 {
  position:absolute;
  left:280px;
  top:404px;
  width:39px;
  height:15px;
}
#u7075 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u7076 {
  position:absolute;
  left:279px;
  top:435px;
  width:535px;
  height:150px;
}
#u7076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:150px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7077 {
  position:absolute;
  left:719px;
  top:605px;
  width:100px;
  height:25px;
}
#u7077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7078 {
  position:absolute;
  left:919px;
  top:504px;
  width:41px;
  height:15px;
}
#u7079 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u7080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7080 {
  position:absolute;
  left:919px;
  top:643px;
  width:41px;
  height:15px;
}
#u7081 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7082 {
  position:absolute;
  left:497px;
  top:105px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u7083 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
